backports.tarfile==1.2.0
brotli==1.1.0
bs4==0.0.2
cffi==1.17.1
colorama==0.4.6
exceptiongroup==1.2.2
imagesize==1.4.1
importlib-metadata==8.0.0
jaraco.collections==5.1.0
mutagen==1.47.0
paddleocr==2.7.0.3
paddlepaddle==2.6.2
paddlex==3.3.10
pip-chill==1.0.3
platformdirs==4.2.2
pycryptodomex==3.21.0
pypdfium2==5.1.0
pysocks==1.7.1
pytesseract==0.3.13
python-bidi==0.6.7
ruamel-yaml-clib==0.2.15
safetensors==0.7.0
scikit-learn==1.5.2
selenium==4.28.1
tesserocr==2.8.0
tomli==2.0.1
webdriver-manager==4.0.2
websockets==14.1
yt-dlp==2025.10.22
